<% include ./partials/header.ejs %>

<div class="header">
    <h4>Terms and Conditions</h4>
    <!-- <button id="backButton" onclick="goBack()">back</button> -->
</div>

<div class="container" id="help">
    help
</div>
<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
